@font-face {
    src: url("/fonts/Super_Maizen.otf");
}
.notification{
    -fx-border-radius: 20px;
    -fx-border-color: #2A73FF;
    -fx-background-color: #000000;
    -fx-background-radius: 20px;
}
.notification > *.button-bar > *.container{
    -fx-background-color: #000000;
}
.notification > *.button-bar *.button {
    -fx-background-color: #05071F;
    -fx-background-radius: 20px;
    -fx-border-color: #2A73FF;
    -fx-border-radius: 20px;
    -fx-font-family: "Super Maizen";
    -fx-text-fill: #e7e5e5;
}
.notification > *.button-bar *.button:hover {
    -fx-background-color: #10165F;
}
.notification:header *.header-panel{
    -fx-background-color: #000000;
}
.notification:header *.header-panel *.label{
    -fx-font-family: "Super Maizen";
    -fx-font-size: 20px;
    -fx-text-fill: #e7e5e5;
}